@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');

body {
    background-color: #05204A;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #053B06;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: #6BD425;
    text-decoration: none;
    padding: 35px;
    justify-self: center;
    font-size: 1.5em;
    grid-row: 3/4;
    margin-top: 20px;
}

nav {
    display: grid;
    justify-content: space-around;
}

nav a:hover {
    background-color: #FCCB06;
    color: #053B06;
    border-radius: 40px;
}

.logo_link  {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    grid-row: 1/4;
}

.logo{
    width: 100%;
}

.home-grid, .turtle-grid {
    background-color: #6BD425;
}

.home-title {
    color: #FCCB06;
    font-family: 'Neucha', 'Bradley Hand', sans-serif;
    font-size: 2.5em;
    margin: 100px;
    text-align: center;
}

.home-grid section, .turtle-grid section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#tiago-portrait {
    border-radius: 50%;
    border: 5px solid #05204A;
}

.home-grid section img {
    width: 100%;
    grid-row: 2/4;
    grid-column: 1/4;
    margin-right: 15px;
    margin-bottom: 50px;
    border-radius: 10%;
    border: 5px solid #053B06;
}

.home-grid section h2 {
    grid-row: 1/2;
    grid-column: 1/11;
    margin: 50px;
}

.home-grid section p {
    grid-row: 2/4;
    grid-column: 4/11;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    color:#05204A;
    font-size: 1.2em;
}

h2 {
    color: #053B06;
}
 
h4 {
    text-align: center;
    line-height: 2.5;
    color:#05204A;
}

.turtle-happy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

footer {
    background-color: #6BD425;
    color: #05204A;
    padding: 25px 50px;
    margin-top: 200px; 
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #053B06;
    text-decoration: none;
}

footer a:hover {

    color: #FCCB06;
}

.social a:hover {
    background-color: #FCCB06;
}

footer p a:hover {
    text-decoration: underline;
}    

footer .social img {
    padding-top: 15px;
}

/* Turtles */

.turtle-title {
    color: #6BD425;
    font-family: 'Neucha', 'Bradley Hand', sans-serif;
    font-size: 2.5em;
    margin: 100px;
    text-align: center;
}

.turtle-grid section img {
    width: 100%;
    grid-row: 2/4;
    grid-column: 1/4;
    margin: 12px;
    border-radius: 10%;
}

#turtle-bubble img {
    border: 5px solid #05204A;
}

#turtle-puddle img {
    border: 5px solid #053B06;
}

.turtle-grid section h2 {
    grid-row: 1/2;
    grid-column: 1/11;
    margin: 50px;
    color: #05204A;
}

#turtle-puddle p {
    grid-row: 2/4;
    grid-column: 4/11;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    color:#053B06;
    font-size: 1.2em;
}

#turtle-bubble p {
    grid-row: 2/4;
    grid-column: 4/11;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    color:#053B06;
    font-size: 1.2em;
}

.fisrt-para, .third-para {
    grid-row: 2/4;
    grid-column: 4/11;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    color:#053B06;
    font-size: 1.2em;
}

.second-para {
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    color:#053B06;
    font-size: 1.2em;
    grid-column: 1/11;
}

h2 {
    color: #053B06;
}

